img {
  width: 500px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 100px;
}

img.range {
  width: 700px;
}

img.logo {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
}

span.logo {
  color: green;
  font-weight: bold;
}

h2, h1.blog {
  text-align:center;
  font-family: inherit;
  margin-top:40px
}

div.Rh1 {
  text-align:left;
  color: blue;
}

span.latest {
  font-style: italic;
  color: black;
}

ul {
  color: black;
}

body {
  background-color: #d9ffb3;
}
